<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= message %></h3>
    <h1>Saram page</h1>
    <hr>
    <table width="100%" border="1">
        <tr>
            <th>번호</th>
            <th>성명</th>
            <th>이메일</th>
        </tr>
    <% 
        // 이 부분은 자바스크립트 문법
        for(var i=0; i<saraList.length; i++) {
    %>
        <tr align="center">
            <td>101</td>
            <td>홍길동</td>
            <td>hong@saram.com</td>
        </tr>
    <%
        }
    %>
    </table>
</body>
</html>